<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dog" class="com.fc.entity.Dog">
       <property name="breed" value="哈士奇"/>
       <property name="color" value="黑白"/>
    </bean>

    <bean id="complexType" class="com.fc.entity.ComplexType">
        <property name="objects">
            <array>
                <value>1</value>
                <value>钟离</value>
                <value>true</value>
                <value>3.14</value>
            </array>
        </property>

        <property name="list">
            <list>
                <value>营养快线</value>
                <value>可乐</value>
                <value>雪碧</value>
                <value>六个核桃</value>
            </list>
        </property>

        <property name="set">
            <set>
                <value>123</value>
                <value>234</value>
                <value>345</value>
                <value>456</value>
            </set>
        </property>

        <property name="map">
            <map>
                <entry key="温迪" value="风神"/>
                <entry key="雷电影" value="雷神"/>
            </map>
        </property>

    </bean>
</beans>